# 1.1 Neural Network SMS Text Classifier

In [ ]:
# import libraries
try:
  # %tensorflow_version only exists in Colab.
  !pip install tf-nightly
except Exception:
  pass
import tensorflow as tf
import pandas as pd
from tensorflow import keras
!pip install tensorflow-datasets
import tensorflow_datasets as tfds
import numpy as np
import matplotlib.pyplot as plt

print(tf.__version__)

### 1.2 Loading the SMS Spam Collection dataset

In [ ]:
# Get data files
!wget https://cdn.freecodecamp.org/project-data/sms/train-data.tsv
!wget https://cdn.freecodecamp.org/project-data/sms/valid-data.tsv

train_file_path = "train-data.tsv"
test_file_path = "valid-data.tsv"

### 1.3 Preparing the data

Training DataFrame

In [ ]:
train_data = pd.read_csv(train_file_path, sep='\t', header=None, names=["type", "message"])
train_data.dropna()
train_data

      type                                            message
0      ham  ahhhh...just woken up!had a bad dream about u ...
1      ham                           you can never do nothing
2      ham  now u sound like manky scouse boy steve,like! ...
3      ham  mum say we wan to go then go... then she can s...
4      ham  never y lei... i v lazy... got wat? dat day ü ...
...    ...                                                ...
4174   ham  just woke up. yeesh its late. but i didn't fal...
4175   ham  what do u reckon as need 2 arrange transport i...
4176  spam  free entry into our £250 weekly competition ju...
4177  spam  -pls stop bootydelious (32/f) is inviting you ...
4178   ham  tell my  bad character which u dnt lik in me. ...

[4179 rows x 2 columns]

In [ ]:
train_data.shape

(4179, 2)

4179 rows and 2 columns

In [ ]:
train_data.head()

  type                                            message
0  ham  ahhhh...just woken up!had a bad dream about u ...
1  ham                           you can never do nothing
2  ham  now u sound like manky scouse boy steve,like! ...
3  ham  mum say we wan to go then go... then she can s...
4  ham  never y lei... i v lazy... got wat? dat day ü ...

In [ ]:
train_data.tail()

      type                                            message
4174   ham  just woke up. yeesh its late. but i didn't fal...
4175   ham  what do u reckon as need 2 arrange transport i...
4176  spam  free entry into our £250 weekly competition ju...
4177  spam  -pls stop bootydelious (32/f) is inviting you ...
4178   ham  tell my  bad character which u dnt lik in me. ...

In [ ]:
train_data.describe()

        type                 message
count   4179                    4179
unique     2                    3935
top      ham  sorry, i'll call later
freq    3619                      22

In [ ]:
train_data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4174    False
4175    False
4176    False
4177    False
4178    False
Length: 4179, dtype: bool

Test DataFrame

In [ ]:
test_data = pd.read_csv(test_file_path, sep="\t", header=None, names=["type", "message"])
test_data.dropna()
test_data

      type                                            message
0      ham  i am in hospital da. . i will return home in e...
1      ham         not much, just some textin'. how bout you?
2      ham  i probably won't eat at all today. i think i'm...
3      ham  don‘t give a flying monkeys wot they think and...
4      ham                                who are you seeing?
...    ...                                                ...
1387   ham  true dear..i sat to pray evening and felt so.s...
1388   ham               what will we do in the shower, baby?
1389   ham  where are you ? what are you doing ? are yuou ...
1390  spam  ur cash-balance is currently 500 pounds - to m...
1391  spam  not heard from u4 a while. call 4 rude chat pr...

[1392 rows x 2 columns]

In [ ]:
test_data.shape

(1392, 2)

1392 rows and 2 columns

In [ ]:
test_data.head()

  type                                            message
0  ham  i am in hospital da. . i will return home in e...
1  ham         not much, just some textin'. how bout you?
2  ham  i probably won't eat at all today. i think i'm...
3  ham  don‘t give a flying monkeys wot they think and...
4  ham                                who are you seeing?

In [ ]:
test_data.tail()

      type                                            message
1387   ham  true dear..i sat to pray evening and felt so.s...
1388   ham               what will we do in the shower, baby?
1389   ham  where are you ? what are you doing ? are yuou ...
1390  spam  ur cash-balance is currently 500 pounds - to m...
1391  spam  not heard from u4 a while. call 4 rude chat pr...

Vectorize the data

In [ ]:
train_data["type"] = pd.factorize(train_data["type"])[0]
test_data["type"] = pd.factorize(test_data["type"])[0]

x_train = train_data
x_test = test_data

In [ ]:
x_train

      type                                            message
0        0  ahhhh...just woken up!had a bad dream about u ...
1        0                           you can never do nothing
2        0  now u sound like manky scouse boy steve,like! ...
3        0  mum say we wan to go then go... then she can s...
4        0  never y lei... i v lazy... got wat? dat day ü ...
...    ...                                                ...
4174     0  just woke up. yeesh its late. but i didn't fal...
4175     0  what do u reckon as need 2 arrange transport i...
4176     1  free entry into our £250 weekly competition ju...
4177     1  -pls stop bootydelious (32/f) is inviting you ...
4178     0  tell my  bad character which u dnt lik in me. ...

[4179 rows x 2 columns]

In [ ]:
x_test

      type                                            message
0        0  i am in hospital da. . i will return home in e...
1        0         not much, just some textin'. how bout you?
2        0  i probably won't eat at all today. i think i'm...
3        0  don‘t give a flying monkeys wot they think and...
4        0                                who are you seeing?
...    ...                                                ...
1387     0  true dear..i sat to pray evening and felt so.s...
1388     0               what will we do in the shower, baby?
1389     0  where are you ? what are you doing ? are yuou ...
1390     1  ur cash-balance is currently 500 pounds - to m...
1391     1  not heard from u4 a while. call 4 rude chat pr...

[1392 rows x 2 columns]

In [ ]:
test_data

      type                                            message
0        0  i am in hospital da. . i will return home in e...
1        0         not much, just some textin'. how bout you?
2        0  i probably won't eat at all today. i think i'm...
3        0  don‘t give a flying monkeys wot they think and...
4        0                                who are you seeing?
...    ...                                                ...
1387     0  true dear..i sat to pray evening and felt so.s...
1388     0               what will we do in the shower, baby?
1389     0  where are you ? what are you doing ? are yuou ...
1390     1  ur cash-balance is currently 500 pounds - to m...
1391     1  not heard from u4 a while. call 4 rude chat pr...

[1392 rows x 2 columns]

In [ ]:
# function to predict messages based on model
# (should return list containing prediction and label, ex. [0.008318834938108921, 'ham'])
def predict_message(pred_text):



  return (prediction)

pred_text = "how are you doing today?"

prediction = predict_message(pred_text)
print(prediction)

In [ ]:
# Run this cell to test your function and model. Do not modify contents.
def test_predictions():
  test_messages = ["how are you doing today",
                   "sale today! to stop texts call 98912460324",
                   "i dont want to go. can we try it a different day? available sat",
                   "our new mobile video service is live. just install on your phone to start watching.",
                   "you have won £1000 cash! call to claim your prize.",
                   "i'll bring it tomorrow. don't forget the milk.",
                   "wow, is your arm alright. that happened to me one time too"
                  ]

  test_answers = ["ham", "spam", "ham", "spam", "spam", "ham", "ham"]
  passed = True

  for msg, ans in zip(test_messages, test_answers):
    prediction = predict_message(msg)
    if prediction[1] != ans:
      passed = False

  if passed:
    print("You passed the challenge. Great job!")
  else:
    print("You haven't passed yet. Keep trying.")

test_predictions()